*{
    font-family: 'Secular One', sans-serif;
    color: rgb(39, 33, 33);
}

header{
    display: flex;
    height: 30%;
    width: 100%;
}
.leftside{
    width:30%;
    background-color:rgb(108, 97, 97);
}
.header-main{
    margin-top: 5vh;
    width: 70%;
    height: 20vh;
    text-transform: uppercase;
    text-align: center;
    background-color: orange;
}
main{
    width: 100%;
    display: flex;
}
.sidebar{
    background-color:rgb(108, 97, 97);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto{
    width: 20vw;
    height: 60vh;
    
}
.menu, .contact{
    align-self: flex-start;
    padding-left: 2vw;
}
.menu{
    padding-top: 10vh;
    font-size: 24px;
}
.menu-style, .contact-style{
    list-style-type: none;
    font-size: 32px;
}
.menu-text{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.contact{
    padding-top: 15vh;

}
.contact-text{
    font-size: 14px;
}
.main-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 5%;
}
footer{
    width: 100%;
    height: 8vh;
    display: flex;
    background-color: lightgrey;
    justify-content:space-around;
    padding-top: 4vh;
}
.logo{
    width: 100px;
    height: 50px;
}
.link{
    text-align: center;
    text-decoration: none;
    color:darkblue;
}
